html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.gameBoard {
    display: flex;
    height: 100%;
}
.gameBoard > div{
    /* background: #eee; */
    padding: 1em;
}

/* .gameBoard > div:nth-child(odd){
     background: #ddd; 
}*/
.Showw{
    display: block !important;
}
.discription{
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btn{
    font-size: 18px;
    padding: 10px;
    background-color: skyblue;
    margin: 20px 0; 
}
.wining-msg{
    background: blueviolet;
    padding: 25px;
    display: none;
    width: 200px;
    text-align: center;
}
.losing-msg{
    width: 200px;
    text-align: center;
    background: red;
    padding: 10px;
    display: none;
}
.main{
    display: flex;
    flex: 3;   
}

.middle{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 100px;
}
.middle > div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height:300px;
    width :200px;
    margin-left: 100px;
    position: relative;
}

.tower-stick{
    height:300px;
    width: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.tower-base{
    position: absolute;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

#first-tower > .tower-stick{
    background: magenta;
}
#first-tower > .tower-base{
    background-color: magenta;
}
#second-tower > .tower-stick{
    background: purple;
}
#second-tower > .tower-base{
    background-color: purple;
}

#third-tower > .tower-stick{
    background: violet;
} 

#third-tower > .tower-base {
    background-color: violet;
}

.dropHover{
    background-color: #eee;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.side > div{
    height: 50px;
    width: 100px;
    margin: 30px;
    text-align: center;
}
#move{
    padding-top: 5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }