
<<<<<<< HEAD
[data-stack] {
    display: flex;
    justify-content: left;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    height: 101px;
    background-color: aliceblue;
    margin: 25px;
}

[data-block] {
    width: 25px;
    float: left;
}

[data-block="25"] {
    height: 25px;
    background-color: blue;
}

[data-block="50"] {
    height: 50px;
    background-color: green;
}

[data-block="75"] {
    height: 75px;
    background-color: red;
}

[data-block="100"] {
    height: 100px;
    background-color: yellow;
}

#announce-game-won {
    font-size: 50px;
    text-align: center;
}[data-stack] {
    display: flex;
    justify-content: left;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    height: 101px;
    background-color: aliceblue;
    margin: 25px;
}

[data-block] {
    width: 25px;
    float: left;
}

[data-block="25"] {
    height: 25px;
    background-color: blue;
}

[data-block="50"] {
    height: 50px;
    background-color: green;
}

[data-block="75"] {
    height: 75px;
    background-color: red;
}

[data-block="100"] {
    height: 100px;
    background-color: yellow;
}

#announce-game-won {
    font-size: 50px;
    text-align: center;
=======
.discs {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin: 10vmin auto 0;
    width: 90vmin;
    height: 35vmin;
}


form {
    text-align: center;
}

.tower {
    position: absolute;
    top: 0px;
    border-radius: 1vmin;
    width: 30px;
    height: 300px;
    background: linear-gradient(to right, #d7b889, #b27315, #966f33);
}
.a {
    left: 80px;
}
.b {
    left: 280px;
}
.c {
    left:480px;
}

.bottom {
    position: relative;
    display: block;
    margin: 60px 310px;
    border-radius: 15px;
    width: 50%;
    height: 50px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent),
    linear-gradient(#b27315, #966f33 13%, #faddb0 14.5%, #faddb0 27.5%, #966f33 29%, #966f33 42%, #faddb0 43.5%, #d7b889 56.5%, #966f33 58%, #966f33 71%, #d7b889 72.5%, #d7b889 85.5%, #966f33 87%, #b27315);
}

button {
    margin: 50px auto;
    border: none;
    border-radius: 1vmin;
    width: 200px;
    height: 60px;
    font-size: 4vmin;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #c39550, #966f33);
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: linear-gradient(to right, #caa163, #a77b39);
}
button:active {
    background: linear-gradient(to right, #cf9844, #9e6f29);
}
.disc-1
{
    background-color: hsl(0, 50%, 50%);
    height: 20px;
    width: 40px;
    margin:10px;
    z-index:0;
>>>>>>> a582f9f... stack  game
}